DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=gastos.darioapp.online,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://gastos.darioapp.online
POSTGRES_DB=gastos_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=192.168.1.25
POSTGRES_PORT=5432

PORT=8005
